html, body{
    position: relative;
    min-width: 320px;
    
}
body{
    font-family: 'Montserrat','Calibri';
    font-size: 14px;
    color: #606F81;
    line-height: 24px;
    
}
img {
    max-width: 100%;
}
.btn{
    background: #ffc74a;
    color: #b98000;
}
    .btn:hover{
        background: #ffb300;
    }
a{
    color: #606f81;
    text-decoration: none;
}
    a:hover{
        color: #BDC8d9;
        text-decoration: none;
    }

header#header{
    padding: 0px 0px;
    background: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 100;
}

    @media screen and (min-width: 1024px){
        header#header{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            padding: 20px;
            background: none;
            z-index: 2;
        }
    }

header #siteLogo a{
    display: block;
}
    @media screen and (min-width: 1024px){
            header #siteLogo{
            float:left;
            }
        }
header #siteLogo a:hover{
    opacity: 0.8;
    }
header #mainMenu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    header #mainMenu ul li{
        border-bottom: 1px solid white;
    }

@media screen and (min-width: 1024px){
    header #mainMenu ul{
        float: right;   
    }
    header #mainMenu ul li{
        float: left;
        border-bottom: 0px;
        border-left: 1px dotted white;
    }
    header #mainMenu ul li:first-child{
        border-left: 0px;
    }
}
header #mainMenu ul li:last-child{
        border-bottom: none;
        padding: 0px;    
}


header #mainMenu ul li a{
    display: block;
    padding: 5px;
    color: white;
    font-size: 18px;
}

header #mainMenu ul li a:hover{
   background: #ED6950;
    text-decoration: none;
}


div#slider {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px;
}
div#slider img {
    filter: brightness(30%);
}

div#slider .slideTitle{
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0px;
    color: aliceblue;
    font-size: 28px;
}
.slideTitle .specialTitle 
{
    color: #ED6950;
    display: block;
}
div#slider .slideDescription{
    display: none;
}
 @media screen and (min-width: 1024px){
            #slider .slide .slideTitle{
                top: 200px; 
                font-size: 58px;
      }
      div#slider .slideDescription{
          display: block;
          top: 150px;
          color: aqua;
          z-index: 100;
          font-size: 9px;
          color: #5c5c5c;
          position: absolute;
          top: 350px;
          left: 50%;
          margin-left: -80px;
      }            
    }


div#slider .showMore{
    position: absolute;
    left: 50%;
    bottom: 30%;
    width: 230px;
    height: 30px;
    margin-left: -115px;
    padding: 0px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    border-radius: 20px;
    z-index: 2;
}
#carouselDescription{
    display: none;
}
     @media screen and (min-width: 1024px){
         #carouselDescription{
    display: block;
    position: ;
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: 2;
    margin-left: -85px;
             color: white;
}
    }
 @media screen and (min-width: 1024px){
     #owlCarousel{
         position: absolute;
         top:80%;
     }   
}
#searchNavBar{
    text-align: center;
    align-content: center;
    font-family: 'Montserrat','Calibri';
    font-weight: 700;
    color: rgb(96, 111, 129);
    
}
    #searchNavBar form{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
        #searchNavBar input{
            border: 1px solid #000;
            padding: 4px 12px;
            border-radius: 10px;
            width: 80%;
            
}

#searchPlacesButton{
    position: relative;
    left: -40px;
    top:2px;
    border: 0px;
    background: none;
}

            .fa{
                float: left;
                width: 120%;
                position: relative;
                color: #ffc74a;             
                }

 @media screen and (min-width: 1024px){
     #searchNavBar{
         position: relative;
         top:188px;

     } 
}
#leftButtons{
    margin-bottom: 4px;

}
.leftBtn{
   background-color: #bdc8d9;
    color: white;
}
.rightBtn{
    background-color: white;
    color: #8d97a5;
    border-radius: 20px;
}

  @media screen and (min-width: 1024px){
      #leftButtons{
            float: left;
            margin-top: 8px;
            margin-left: 95px;
      }
       #rightButtons{
            float: right;
            margin-top: 8px;
            margin-right: 130px;      
      }
      .rightBtn{
          border: 5px solid red;
      }
    }
@media screen and (min-width: 1024px){
    #cities{
        max-height: 500px;
        top: 1030px;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 60px;
        
        
    }
    .cityBox{
        float: left;
        width: auto;
        max-width: 30%;
        margin-right: 20px;
        padding-bottom: 15px;
      
    }
}
@media screen and (min-width: 1024px){
    #explore{
        position: absolute;
        top: 1600px;
    }
    #exploreHeader {
        width: 100%;
        text-align: center;
        font-size: 29.687px;
        font-family: "Montserrat";
        color: rgb(96, 111, 129);
        font-weight: bold;
        padding-bottom: 50px;
    }
        #leftContainer{
            float: left;
            width: 50%;
            font-size: 14px;
            font-family: "Montserrat";
            color: rgb(96, 111, 129);
            line-height: 2.143;

        }
    #leftContainer header{
        font-size: 35.624px;
  font-family: "Montserrat";
  color: rgb(248, 199, 89);
  font-weight: bold;
    }
    #leftContainer a {
        display: block;
        width: 150px;
        border-radius: 30px;
    }
    
        #rightContainer{
            float: left;
            width: 50%;
            text-align: center;
        }
    #rightContainer img{
        width: 380px;
    }
}

@media screen and (min-width: 1024px){
    #enjoyJurney{
        position: absolute;
        top: 2200px;
    }
    #enjoyTitle{
        font-size: 62px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        position: absolute;
        bottom: 50%;
        top:92px;
        left: 20%;
    }
    #enjoyBtn{
        position: absolute;
        bottom: 30%;
        left: 50%;
        margin-left: -50px;
    }
    #newsletterLink{
        font-family: "Montserrat";
        position: absolute;
        bottom: 15%;
        color: white;
        left: 50%;
        margin-left: -150px;
    }
        
    #newsletterLink p{
        float: left;
        margin-right: 5px;
        font-size: 14px;
    }
    #newsletterLink a{
        display: inline;
        float: left;
        color: #ffc74a;
        text-decoration: underline;
    }
}
@media screen and (min-width: 1024px){
    #footer{
        position: absolute;
        top: 2600px;
        text-align: center;
        width: 100%;
        font-family: "Montserrat";
        color: rgb(96, 111, 129);
        font-weight: bold;
    }
}

